@model IEnumerable<Vezeeta.Models.Doctor>
@{
    ViewBag.Title = "اختر الدكتور حسب اسم المستشفى";
    //Layout = null;
}


<style>
    #himg {
        width: 50px;
        height: 50px;
        border: 1px solid rgb(175, 172, 172);
        border-radius: 50%;
        margin-left: 10px;
    }

    li {
        list-style: none;
    }

    .mydiv {
        width: 100%;
        height: 100%;
        background-image: url('/Content/images/cover22.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: gray;
    }

    .header {
        color: #36A0FF;
        font-size: 27px;
        margin: 50px;
    }
</style>


<section class="container">
    <div class="search-container ">
        <form action="/doctors/search" method="get">
            <div class="input-group mt-2">
                <input type="text" class="form-control" placeholder=" ابحث عن دكتور بالمستشفى " name="docname" style="text-align: right;margin-left:10px;">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>

            </div>
        </form>
        <br>
        <section class="row" style="background-color:white;direction: rtl;font-size: 20px;">
            @foreach (var item in Model.Where(a => a.Entity.ToString() == "Hospital"))
            {
                <section class="Search col-6">
                    <p>
                        <form action="/doctors/search4" method="get">

                            <li><img id="himg" src="~/Content/Images/slide-1.jpg" /><a href="/doctors/search4?Entity=@item.branchName">@item.branchName</a></li>
                        </form>
                    </p>
                </section>
            }
        </section>
</section>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchtxt = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchtxt)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

        });

    });



</script>